#Predicting the 2016 USAU College Open Nationals Tournament

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

In [2]:
ratings = pd.read_csv('2016_reg_season_ratings.dat', delimiter=',', names=('School', 'Rating'))

###Regular Season Top 50 Bradley-Terry Ratings

These ratings were compiled from the dataset found at http://www.ultimaterankings.net/. Unfortunately, it only contains regular season results and no results from CC or Regional tournaments, but should still be an interesting dataset to inform us about the strengths of each team at Nationals. I computed a Bradley-Terry rating for each team's regular season and ranked them following the algorithm described in http://ultiworld.com/2015/09/03/a-new-rankings-approach-for-ultimate-ideas-from-college-hockey/. The top 50 teams are displayed in the table below and contains all teams going to Nationals.

After this table are predictions for Nationals based upon the win probabilities that Bradley-Terry ratings provide. I used the Nationals schedule and ratings from the regular season to simulate the tournament 10,000 times and get the predictions in the tables following.

In [3]:
ratings[1:51]

                                       School         Rating
1                     Massachusetts (Zoodisc)  3.93175098471
2                       Minnesota (Grey Duck)   3.5112111374
3                          Wisconsin (Hodags)  3.49247859968
4                   Pittsburgh (En Sabah Nur)  3.22089833103
5                   North Carolina (Darkside)  3.19484400972
6            Stanford (Stanford Bloodthirsty)  3.11534957695
7                                Oregon (Ego)  3.04958772128
8                           Florida (Florida)  3.04248629991
9          North Carolina-Wilmington (Seamen)  2.95001629926
10            British Columbia (Thunderbirds)   2.7012249931
11                         Harvard (Red Line)  2.65775323639
12  Carleton College (Carleton College (CUT))  2.60970252161
13                    Washington (Sundodgers)  2.59454709927
14                        Colorado (Mamabird)  2.56448225152
15                            Georgia (Jojah)  2.55849469168
16                        Brigham Young (CHI)  2.54971773854
17                          Texas A&M (Dozen)  2.45935859327
18                 Arkansas (Ludicrous Speed)  2.39230838674
19                     Ohio State (Leadbelly)   2.3598919666
20                     Cal Poly-SLO (SLOCORE)  2.31855160456
21                               Texas (TUFF)  2.26602703659
22                          Michigan (MagnUM)  2.24147786059
23      California-Santa Barbara (Black Tide)  2.22650320299
24                             Auburn (Aetos)   2.2056200381
25                        Florida State (DUF)  2.18364359487
26                         Penn State (Spank)  2.18291612042
27                       Virginia Tech (Burn)  2.17458085279
28              Central Florida (Dogs of War)  2.15702648149
29                           Victoria (Vikes)  2.14805120393
30          California-San Diego (Air Squids)  2.06769103732
31                    Colorado State (Hibida)  2.02860733783
32                   James Madison (Hellfish)  2.00892081382
33                  Western Washington (Dirt)  1.99883586221
34                         LSU (LSU Ultimate)  1.98444450413
35                        Missouri (Missouri)  1.98261824712
36                               Tulane (Rex)  1.98125586913
37                    Purdue (Undue Ultimate)   1.9630566211
38               Maryland (Maryland Ultimate)  1.96060783435
39                    Brown (Brownian Motion)  1.93009115274
40  Case Western Reserve (Fighting Gobies[A])  1.92965870149
41                       Georgia Tech (Tribe)  1.92181594941
42                  Connecticut (UConn Grind)  1.89998141921
43           Virginia Commonwealth (Villains)  1.83349986039
44                     Oregon State (Beavers)  1.82549926979
45                Texas Christian (High Noon)  1.77807759231
46           Cincinnati (Cincinnati Ultimate)  1.77324944688
47                        Utah (Zion Curtain)  1.76331909462
48                    Notre Dame (Papal Rage)  1.74874787545
49                          Arizona (Sunburn)  1.74311123623
50                      Bryant (Bryant Craze)  1.71618856164

###Nationals Predictions

In [4]:
pool_wins = pd.read_csv('2016_pool_wins.dat', delimiter=',', names=('School', 'Wins in Pool'))

In [5]:
display(HTML('<h1>Average wins in pool over 10,000 simulations</h1>'))
display(HTML('<h3>Pool A</h3>'))
display(HTML(pool_wins[1:6].to_html(index=False)))
display(HTML('<h3>Pool B</h3>'))
display(HTML(pool_wins[7:12].to_html(index=False)))
display(HTML('<h3>Pool C</h3>'))
display(HTML(pool_wins[13:18].to_html(index=False)))
display(HTML('<h3>Pool D</h3>'))
display(HTML(pool_wins[19:24].to_html(index=False)))

In [6]:
pool_placement = pd.read_csv('2016_pool_placement.dat', delimiter=',', names=('School', '1st', '2nd', '3rd', '4th', '5th'))
pool_placement['1st'] = pool_placement['1st']*100.
pool_placement['2nd'] = pool_placement['2nd']*100.
pool_placement['3rd'] = pool_placement['3rd']*100.
pool_placement['4th'] = pool_placement['4th']*100.
pool_placement['5th'] = pool_placement['5th']*100.

In [7]:
display(HTML('<h1>Predicted percent chance of final placement in pool over 10,000 simulations</h1>'))
display(HTML('<h3>Pool A</h3>'))
display(HTML(pool_placement[1:6].to_html(index=False)))
display(HTML('<h3>Pool B</h3>'))
display(HTML(pool_placement[7:12].to_html(index=False)))
display(HTML('<h3>Pool C</h3>'))
display(HTML(pool_placement[13:18].to_html(index=False)))
display(HTML('<h3>Pool D</h3>'))
display(HTML(pool_placement[19:24].to_html(index=False)))

In [8]:
final_position = pd.read_csv('2016_bracket_stats.dat', delimiter=',', skiprows=1, names=('School', 'Pre-Quarters', 'Quarters', 
                                                                             'Semis', 'Final', 'Champion'))
final_position['Pre-Quarters'] = final_position['Pre-Quarters']*100.
final_position['Quarters'] = final_position['Quarters']*100.
final_position['Semis'] = final_position['Semis']*100.
final_position['Final'] = final_position['Final']*100.
final_position['Champion'] = final_position['Champion']*100.

In [9]:
display(HTML('<h1>Predicted percent chance of final progress in bracket over 10,000 simulations</h1>'))
display(HTML('<h3>Pool A</h3>'))
display(HTML(final_position[1:6].to_html(index=False)))
display(HTML('<h3>Pool B</h3>'))
display(HTML(final_position[7:12].to_html(index=False)))
display(HTML('<h3>Pool C</h3>'))
display(HTML(final_position[13:18].to_html(index=False)))
display(HTML('<h3>Pool D</h3>'))
display(HTML(final_position[19:24].to_html(index=False)))